.contact__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 41px;
}

.contact__left {
    width: 50%;
    border-right: 1px solid #000;
    padding-left: 73px;
    padding-right: 59px;
    box-sizing: border-box;
    padding-bottom: 30px;

}

.contact__left h2 {
    font-size: 3vw;
    margin-bottom: 63px;
    font-family: 'Partizeno';

    font-weight: 400;

}

.contact__left .mail {
    font-size: 1.25vw;
    font-family: 'Abel', sans-serif;
}

form {
    /* display: flex;
    flex-direction: column; */
}

form>div {
    width: 100%;
    display: flex;
    margin-bottom: 63px;

}

label {
    /* flex: 1; */
    margin-right: 30px;
}

input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #000;
    flex: 1;
}

form>div:nth-child(6) {
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}

.contactme {
    width: 217px;
    height: 55px;
    border: 1px solid #000;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.contact__left .sns {}

.contact__left .sns ul li {
    display: flex;
    justify-content: space-between;
}

.contact__left .sns ul li h3 {
    width: 273px;
    font-size: 2.5vw;
    text-align: left;
    font-family: 'Partizeno';

    font-weight: 400;
}

.contact__left .sns ul li span {
    width: 267px;
    font-size: 1vw;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-weight: 600;
    padding-right: 10px;
}

.contact__right {
    width: 50%;
    position: relative;
}

.contact__right .img1 {
    width: 296px;
    height: 370px;
    position: absolute;
    top: 85px;
    left: 79px;
    background-image: url(../img/contact1.png);
}

.contact__right .img2 {
    width: 296px;
    height: 370px;
    position: absolute;
    top: 432px;
    left: 353px;
    background-image: url(../img/contact2.png);
}

@media (max-width: 1600px) {
    .contact__left {
        width: 100%;
        border: none;
    }

    .contact__right {
        display: none;
    }
}