/* logo */
.logo {
    width: 100%;
    height: 8.5625rem;
    border-bottom: 1px solid #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_img {
    width: 84px;
    height: 24px;
    margin-top: 10px;
    background-image: url(../img/title.png);
    background-position: center;
    background-size: cover;
}

.logo_text {
    font-family: 'Partizeno';
    text-align: center;
    font-size: 50px;
}


/* list */
.nav__list {
    font-family: 'Roboto Slab';
    margin-top: 43px;
    margin-left: 43px;
    line-height: 170%;
    position: relative;
}

.nav__list>ul {}

.nav__list>ul>li {}

.nav__list>ul>li a {
    position: relative;
}

.nav__list>ul>li a:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 21px;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.nav__list>ul>li a:hover::before {
    opacity: 1;
}

.nav__list>ul>li>ul {
    margin-left: 40px;
    margin-bottom: 20px;
}

.nav__list>ul>li>ul>li>ul {
    margin-left: 40px;
}




.nav__bottom {
    position: absolute;
    right: 50px;
    margin: 0;
    display: flex;
}

.background__change__dark {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url(../img/dark.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background__change__yllow {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url(../img/yellow.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}